/web/bundles/
/web/info.php

/app/bootstrap*
/app/sessions/*
/app/cache/*
/app/logs/*
/app/config/parameters.yml

/app/SymfonyRequirements.php
/app/check.php
/app/phpunit.xml

/vendor/
/vendor.zip

/nbproject/private

/.sass-cache

/src/Acme/

/app/sql/
/app/data/
/irm/nbproject/private/
/irm/config/database.ini
/irm5/data/